#container{
    background-color: black;
    width: 100%;
    height: hv;
    scroll-behavior: auto;
}

#header{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

#user-logout{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
